.ms-box {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ms-bg-win {
    background-image: url("../img/you-win.webp");
}

.ms-bg-lose {
    background-image: url("../img/hahahaloser.png");
}

.ms-bg-draw {
    background-image: url("../img/draw.jpg");
}